biopython==1.81
Cython==0.29.36
decorator==5.1.1
DendroPy==4.6.1
fastalite==0.4.1
greenlet==3.0.1
hdbscan==0.8.33
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
numpy==1.26.1
pandas==2.1.1
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg2-binary==2.9.9
pygtrie==2.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
scikit-learn==1.3.2
scipy==1.11.3
seqmagick==0.8.6
six==1.16.0
SQLAlchemy==2.0.22
sqlparse==0.4.4
taxtastic==0.10.0
threadpoolctl==3.2.0
typing_extensions==4.8.0
tzdata==2023.3
