# this file is order-dependent! see bin/pipdeptree2requirements.py

# to add new dependencies:
# - create a virtualenv
# - install packages: pip install -r requirements.in
# - install pipdeptree
# - run `pipdeptree -f --nowarn | bin/pipdeptree2requirements.py` to generate a new requirements.txt
# - manually replace any references to github repos
# - correct any incompatibilities (eg, seqmagick running under python2 requires biopython <= 1.66

MarkupSafe==1.0
numpy==1.16.4
setuptools==38.4.0
six==1.11.0
DendroPy==4.3.0
Jinja2==2.10
PyYAML==3.12
SQLAlchemy==1.2.0
biopython==1.66
decorator==4.1.2
fastalite==0.3
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
Cython==0.27.3
futures==3.2.0
hdbscan==0.8.16
pandas==0.22.0
peasel==0.3.1
scipy==1.0.0
seqmagick==0.6.2
taxtastic==0.8.5
